
html {
    padding-bottom: 60px;
    background-image: url("http://i.imgur.com/jtOFwxp.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.page-header {
  background-color: #f5f5f5
}
